body{
	background-color: #131045;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
overflow:inherit;
overflow-y:hidden;
}

#logo{
  height: 120px;
  width: 120px;
  border-radius: 50% ;
}

.container {
	position: fixed;
	left: 40%;
	top: 70px;
	height: 550px;
	width: 400px;
	background-color: yellow;
	border: thick 3px white;
  border-radius: 7px;
	box-shadow: 10px 10px 0px ;
}


.header{
 height: 70px;
 width: 400px;
 position: fixed;
  left: 40%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
  z-index: 1;
	background-color: #FCFCFC;
}

#email{
 top: 140px;
 left: 85px;
 position: absolute;
 border-width: 2px;
 border-style: solid;
 border-radius: 3px;
 height: 50px;
 border-color: #4CAF50;
}

#number{
 top: 210px;
 left: 85px;
 position: absolute;
 border-width: 2px;
 border-style: solid;
 border-radius: 3px;
 height: 50px;
  border-color: #4CAF50;
}

#retype{
 top: 270px;
 left: 85px;
 position: relative;
 border-width: 2px;
 border-style: solid;
 border-radius: 3px;
 height: 50px;
  border-color: #4CAF50;
}

#password{
	top: 250px;
  left: 85px;
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
	 border-color: #4CAF50;
  height: 50px;
}
#email:hover{
	border-color: lightblue;
}
#number:hover{
	border-color: lightblue;}
  #password:hover{
  	border-color: lightblue;}
    #retype:hover{
    	border-color: lightblue;
    }
input,
input::-webkit-input-placeholder {
    font-size: 20px;
}

    #submit{
    	  height: 50px;
    	  width: 120px;
    	  bottom: 30px;
    	  position: absolute;
      	left: 30%;
        background-color: white;
        border: 2px solid #4CAF50;
        color:  #131045;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    		border-radius: 3px;
    }
    #submit:hover{
    	border-color: lightblue;
    }

    h3{
    font-family: 'Just Another Hand', cursive;
    color: #0B4F6C;
    left: 620px;
    position:fixed;
    font-size: 60px;
    padding-bottom: 40px;
    top: 10px;
    }

    h2{
    	font-size: 30px;
    	font-family: 'Heebo', sans-serif;
    	position: fixed;
    	left: 3px;
    	top: 100px;
    	color: yellow;
    }
